In [2]:
from nba_api.stats.endpoints import teamyearbyyearstats, teamplayeronoffsummary
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.static import teams
import pandas as pd
import json
from collections import defaultdict
import time

In [3]:
career = playercareerstats.PlayerCareerStats(player_id='203076')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,25.0,38,38,1404.0,394,...,0.806,128,376,504,166,66,100,78,97,1100

In [21]:
team_df = pd.DataFrame(teams.get_teams())

In [22]:
team_id_pairing = team_df[['abbreviation', 'id']]

In [ ]:
def get_current_team_data():
    team_df = pd.DataFrame()
    for t in teams.get_teams():
        t_id = t['id']
        print(t_id, end = ', ')
        time.sleep(5)
        stat_json = teamyearbyyearstats.TeamYearByYearStats(int(t_id), year='2018').get_json()
        stat_rows = json.loads(stat_json)['resultSets'][0]['rowSet']
        all_stats_df = all_stats_df.append(pd.DataFrame(stat_rows))
    return all_stats_df

In [89]:
mavs_stats = teamyearbyyearstats.TeamYearByYearStats(1610612742)
mavs_json_str = mavs_stats.get_json()
mavs_json = json.loads(mavs_json_str)
mavs_results = mavs_json['resultSets'][0]
#mavs_results.pop('name',None)
mavs_results_headers = mavs_results['headers']
mavs_rows = mavs_results['rowSet']

In [ ]:
mavs_stats_json = json.loads(teamyearbyyearstats.TeamYearByYearStats(1610612742).get_json())['resultSets'][0]['rowSet']

In [ ]:
mavs_rows = mavs_results['rowSet']

In [85]:
all_stats_df.columns=mavs_results_headers

In [91]:
all_stats_df.to_csv("/Users/dbauer/Coding/nba-shaq/data/all-team-stats.csv")

---------
Now we have team stats. Let's get player on-off stats. How far back do they go?

(Apparently, the answer is that they start in 2007-2008.)

In [18]:
test_on_off = teamplayeronoffsummary.TeamPlayerOnOffSummary(1610612737, season='2007-08')
test_on_off_json = json.loads(test_on_off.get_json())

In [19]:
test_on_off_json

{'resource': 'teamplayeronoffsummary',
 'parameters': {'MeasureType': 'Base',
  'PerMode': 'Totals',
  'PlusMinus': 'N',
  'PaceAdjust': 'N',
  'Rank': 'N',
  'LeagueID': None,
  'Season': '2007-08',
  'SeasonType': 'Regular Season',
  'TeamID': 1610612737,
  'Outcome': None,
  'Location': None,
  'Month': 0,
  'SeasonSegment': None,
  'DateFrom': None,
  'DateTo': None,
  'OpponentTeamID': 0,
  'VsConference': None,
  'VsDivision': None,
  'GameSegment': None,
  'Period': 0,
  'LastNGames': 0},
 'resultSets': [{'name': 'OverallTeamPlayerOnOffSummary',
   'headers': ['GROUP_SET',
    'GROUP_VALUE',
    'TEAM_ID',
    'TEAM_ABBREVIATION',
    'TEAM_NAME',
    'GP',
    'W',
    'L',
    'W_PCT',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'TOV',
    'STL',
    'BLK',
    'BLKA',
    'PF',
    'PFD',
    'PTS',
    'PLUS_MINUS',
    'GP_RANK',
    'W_RANK',
    'L_RANK',
    'W_PCT_RANK',
    'MIN_RANK',
    'FGM_RANK',
    'FGA_RANK',
    'FG_PCT_RANK',
    'FG3M_RANK',
    'FG3A_RANK',
    'FG3_PCT_RANK',
    'FTM_RANK',
    'FTA_RANK',
    'FT_PCT_RANK',
    'OREB_RANK',
    'DREB_RANK',
    'REB_RANK',
    'AST_RANK',
    'TOV_RANK',
    'STL_RANK',
    'BLK_RANK',
    'BLKA_RANK',
    'PF_RANK',
    'PFD_RANK',
    'PTS_RANK',
    'PLUS_MINUS_RANK'],
   'rowSet': [['Overall',
     '2007-08',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     82,
     37,
     45,
     0.451,
     3971.0,
     2975,
     6552,
     0.454,
     384,
     1078,
     0.356,
     1720,
     2227,
     0.772,
     1008,
     2454,
     3462,
     1804,
     1223.0,
     600,
     448,
     421,
     1673,
     1793,
     8054,
     -149.0,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1,
     1]]},
  {'name': 'PlayersOnCourtTeamPlayerOnOffSummary',
   'headers': ['GROUP_SET',
    'TEAM_ID',
    'TEAM_ABBREVIATION',
    'TEAM_NAME',
    'VS_PLAYER_ID',
    'VS_PLAYER_NAME',
    'COURT_STATUS',
    'GP',
    'MIN',
    'PLUS_MINUS',
    'OFF_RATING',
    'DEF_RATING',
    'NET_RATING'],
   'rowSet': [['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     1710,
     'Bibby, Mike',
     'On',
     33,
     1100.0,
     0.2,
     110.6,
     110.5,
     0.1],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     2735,
     'Childress, Josh',
     'On',
     76,
     2274.0,
     -2.7,
     104.7,
     107.3,
     -2.7],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     201143,
     'Horford, Al',
     'On',
     81,
     2540.0,
     -2.2,
     104.0,
     106.0,
     -2.0],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     1533,
     'Johnson, Anthony',
     'On',
     42,
     1121.0,
     -0.3,
     99.8,
     100.0,
     -0.2],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     2207,
     'Johnson, Joe',
     'On',
     82,
     3343.0,
     -0.3,
     106.0,
     106.4,
     -0.4],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     200780,
     'Jones, Solomon',
     'On',
     35,
     145.0,
     -12.9,
     95.8,
     110.5,
     -14.6],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     201151,
     'Law, Acie',
     'On',
     56,
     865.0,
     -6.7,
     98.3,
     105.6,
     -7.3],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     1731,
     'Lue, Tyronn',
     'On',
     33,
     564.0,
     2.0,
     105.3,
     104.4,
     1.0],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     2585,
     'Pachulia, Zaza',
     'On',
     62,
     944.0,
     -2.5,
     103.0,
     104.4,
     -1.4],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     200978,
     'Richardson, Jeremy',
     'On',
     19,
     88.0,
     -13.0,
     97.9,
     109.5,
     -11.6],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     2746,
     'Smith, Josh',
     'On',
     81,
     2873.0,
     -0.6,
     104.1,
     104.1,
     0.0],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     101136,
     'Stoudamire, Salim',
     'On',
     35,
     402.0,
     -3.3,
     101.4,
     105.7,
     -4.4],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     201238,
     'West, Mario',
     'On',
     64,
     269.0,
     -8.0,
     99.0,
     102.3,
     -3.4],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     101107,
     'Williams, Marvin',
     'On',
     80,
     2765.0,
     -2.8,
     103.5,
     106.1,
     -2.5],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     200749,
     'Williams, Shelden',
     'On',
     36,
     414.0,
     0.6,
     100.1,
     99.9,
     0.2],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     953,
     'Wright, Lorenzen',
     'On',
     13,
     148.0,
     -2.3,
     88.7,
     88.3,
     0.3]]},
  {'name': 'PlayersOffCourtTeamPlayerOnOffSummary',
   'headers': ['GROUP_SET',
    'TEAM_ID',
    'TEAM_ABBREVIATION',
    'TEAM_NAME',
    'VS_PLAYER_ID',
    'VS_PLAYER_NAME',
    'COURT_STATUS',
    'GP',
    'MIN',
    'PLUS_MINUS',
    'OFF_RATING',
    'DEF_RATING',
    'NET_RATING'],
   'rowSet': [['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     1710,
     'Bibby, Mike',
     'Off',
     33,
     494.0,
     -6.9,
     102.5,
     108.2,
     -5.7],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     2735,
     'Childress, Josh',
     'Off',
     82,
     1697.0,
     -0.7,
     102.9,
     103.0,
     0.0],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     2049,
     'Claxton, Speedy',
     'Off',
     82,
     3971.0,
     -1.8,
     105.5,
     107.3,
     -1.8],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     201143,
     'Horford, Al',
     'Off',
     82,
     1431.0,
     -1.2,
     102.6,
     103.4,
     -0.9],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     1533,
     'Johnson, Anthony',
     'Off',
     50,
     1309.0,
     -2.6,
     102.1,
     105.0,
     -2.9],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     2207,
     'Johnson, Joe',
     'Off',
     79,
     628.0,
     -10.0,
     95.0,
     103.6,
     -8.6],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     200780,
     'Jones, Solomon',
     'Off',
     82,
     3826.0,
     -1.4,
     105.6,
     106.7,
     -1.1],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     201151,
     'Law, Acie',
     'Off',
     82,
     3106.0,
     -0.4,
     105.9,
     106.3,
     -0.5],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     1731,
     'Lue, Tyronn',
     'Off',
     50,
     1866.0,
     -2.6,
     99.8,
     102.6,
     -2.9],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     2585,
     'Pachulia, Zaza',
     'Off',
     82,
     3027.0,
     -1.6,
     104.6,
     106.3,
     -1.8],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     200978,
     'Richardson, Jeremy',
     'Off',
     33,
     1506.0,
     -1.4,
     110.3,
     111.5,
     -1.2],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     2746,
     'Smith, Josh',
     'Off',
     82,
     1098.0,
     -4.9,
     102.5,
     107.7,
     -5.2],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     101136,
     'Stoudamire, Salim',
     'Off',
     82,
     3569.0,
     -1.6,
     105.1,
     106.7,
     -1.6],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     201238,
     'West, Mario',
     'Off',
     82,
     3702.0,
     -1.3,
     105.2,
     106.6,
     -1.4],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     101107,
     'Williams, Marvin',
     'Off',
     82,
     1206.0,
     0.6,
     102.9,
     101.9,
     1.0],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     200749,
     'Williams, Shelden',
     'Off',
     50,
     2016.0,
     -2.0,
     101.9,
     104.0,
     -2.0],
    ['On/Off Court',
     1610612737,
     'ATL',
     'Atlanta Hawks',
     953,
     'Wright, Lorenzen',
     'Off',
     50,
     2282.0,
     -1.5,
     103.2,
     104.7,
     -1.5]]}]}

In [37]:
team_id_pairing.columns = ['Tm', 'TEAM_ID']

In [38]:
team_id_pairing

     Tm     TEAM_ID
0   ATL  1610612737
1   BOS  1610612738
2   CLE  1610612739
3   NOP  1610612740
4   CHI  1610612741
5   DAL  1610612742
6   DEN  1610612743
7   GSW  1610612744
8   HOU  1610612745
9   LAC  1610612746
10  LAL  1610612747
11  MIA  1610612748
12  MIL  1610612749
13  MIN  1610612750
14  BKN  1610612751
15  NYK  1610612752
16  ORL  1610612753
17  IND  1610612754
18  PHI  1610612755
19  PHX  1610612756
20  POR  1610612757
21  SAC  1610612758
22  SAS  1610612759
23  OKC  1610612760
24  TOR  1610612761
25  UTA  1610612762
26  MEM  1610612763
27  WAS  1610612764
28  DET  1610612765
29  CHA  1610612766

In [55]:
all_stats_df = pd.read_csv("/Users/dbauer/Coding/nba-shaq/data/all-team-stats.csv")

In [56]:
stats_id_merged = pd.merge(all_stats_df, team_id_pairing)

In [57]:
stats_cleaned = stats_id_merged.drop(columns=["TEAM_ID", "TEAM_CITY", "TEAM_NAME"])

In [58]:
stats_cleaned = stats_cleaned.drop(columns=["Unnamed: 0"])

In [59]:
stats_cleaned.columns

Index(['YEAR', 'GP', 'WINS', 'LOSSES', 'WIN_PCT', 'CONF_RANK', 'DIV_RANK',
       'PO_WINS', 'PO_LOSSES', 'CONF_COUNT', 'DIV_COUNT',
       'NBA_FINALS_APPEARANCE', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'PF',
       'STL', 'TOV', 'BLK', 'PTS', 'PTS_RANK', 'Tm'],
      dtype='object')

In [60]:
stats_cleaned = stats_cleaned[['Tm', 'YEAR', 'GP', 'WINS', 'LOSSES', 'WIN_PCT', 'CONF_RANK', 'DIV_RANK',
       'PO_WINS', 'PO_LOSSES', 'CONF_COUNT', 'DIV_COUNT',
       'NBA_FINALS_APPEARANCE', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'PF',
       'STL', 'TOV', 'BLK', 'PTS', 'PTS_RANK']]

In [95]:
fixed_years = stats_cleaned[['YEAR']].apply(lambda x: int(x.to_string().split(' ')[-1].split('-')[0])+1, axis=1)

In [97]:
stats_cleaned[['YEAR']] = fixed_years

In [102]:
stats_cleaned

,Tm,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,PO_WINS,PO_LOSSES,...,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
0,ATL,1950,64,29,35,0.453,0,3,1,2,...,0,0,0,1330,2057,0,0,0,5313,10
1,ATL,1951,68,25,43,0.368,0,5,0,0,...,0,0,0,1476,2092,0,0,0,5730,3
2,ATL,1952,66,17,49,0.258,0,5,0,0,...,0,0,0,1229,1848,0,0,0,4833,10
3,ATL,1953,71,27,44,0.380,0,5,0,0,...,0,0,0,1427,2120,0,0,0,5389,9
4,ATL,1954,72,21,51,0.292,0,4,0,0,...,0,0,0,1298,1771,0,0,0,5038,9
5,ATL,1955,72,26,46,0.361,0,4,0,0,...,0,0,0,1544,1904,0,0,0,6291,8
6,ATL,1956,72,33,39,0.458,0,2,4,4,...,0,0,0,1748,1971,0,0,0,6953,6
7,ATL,1957,72,34,38,0.472,0,1,6,4,...,0,0,0,1454,1848,0,0,0,7091,6
8,ATL,1958,72,41,31,0.569,0,1,8,3,...,0,0,0,1541,1875,0,0,0,7738,3
9,ATL,1959,72,49,23,0.681,0,1,2,4,...,0,0,0,1567,1937,0,0,0,7830,4
10,ATL,1960,75,46,29,0.613,0,1,7,7,...,0,0,0,1881,1995,0,0,0,8506,5
11,ATL,1961,79,51,28,0.646,0,1,5,7,...,0,0,0,2136,2135,0,0,0,9383,4
12,ATL,1962,80,29,51,0.363,0,4,0,0,...,0,0,0,1996,2166,0,0,0,9508,5
13,ATL,1963,80,48,32,0.600,0,2,6,5,...,0,0,0,1902,2077,0,0,0,8766,9
14,ATL,1964,80,46,34,0.575,0,2,6,6,...,0,0,0,1901,2266,0,0,0,8797,6
15,ATL,1965,80,45,35,0.563,0,2,1,3,...,0,0,0,1691,2069,0,0,0,8706,6
16,ATL,1966,80,36,44,0.450,0,3,6,4,...,0,0,0,1782,2179,0,0,0,8913,8
17,ATL,1967,81,39,42,0.481,0,2,5,4,...,0,0,0,1708,2173,0,0,0,9204,8
18,ATL,1968,82,56,26,0.683,0,1,2,4,...,0,0,0,1988,2046,0,0,0,9266,10
19,ATL,1969,82,48,34,0.585,0,2,5,6,...,0,0,0,2069,2082,0,0,0,9123,9
20,ATL,1970,82,48,34,0.585,0,1,4,5,...,0,0,0,2142,2016,0,0,0,9646,6
21,ATL,1971,82,36,46,0.439,4,2,1,4,...,0,0,0,1906,1958,0,0,0,9348,8
22,ATL,1972,82,36,46,0.439,4,2,2,4,...,0,0,0,1897,1967,0,0,0,8982,8
23,ATL,1973,82,46,36,0.561,4,2,2,4,...,0,0,0,2074,1916,0,0,0,9219,3
24,ATL,1974,82,35,47,0.427,5,2,0,0,...,1240,2712,3952,1993,2073,758,1823,332,8907,5
25,ATL,1975,82,31,51,0.378,8,4,0,0,...,1441,2653,4094,1878,1964,744,1550,227,8620,4
26,ATL,1976,82,29,53,0.354,9,5,0,0,...,1225,2540,3765,1666,1983,790,1553,277,8411,15
27,ATL,1977,82,31,51,0.378,9,6,0,0,...,1244,2512,3756,1882,2302,733,1779,330,8394,19
28,ATL,1978,82,41,41,0.500,6,4,0,2,...,1160,2359,3519,1901,2470,916,1592,408,8506,22
29,ATL,1979,82,46,36,0.561,5,3,5,4,...,1381,2341,3722,1938,2424,801,1523,596,8950,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1447,DET,2019,39,17,22,0.436,9,3,0,0,...,463,1332,1795,862,898,266,588,151,4173,28
1448,CHA,1989,82,20,62,0.244,12,6,0,0,...,1138,2200,3338,2323,2068,705,1318,264,8566,22
1449,CHA,1990,82,19,63,0.232,14,7,0,0,...,962,2211,3173,2080,1889,778,1226,262,8232,25
1450,CHA,1991,82,26,56,0.317,11,7,0,0,...,1027,2200,3227,2019,1946,759,1290,304,8428,20
1451,CHA,1992,82,31,51,0.378,11,6,0,0,...,1164,2367,3531,2284,1819,822,1273,309,8980,6
1452,CHA,1993,82,44,38,0.537,5,3,4,5,...,1095,2508,3603,2161,1790,639,1325,473,9030,2
1453,CHA,1994,82,41,41,0.500,9,5,0,0,...,1019,2475,3494,2214,1747,724,1266,394,8732,4
1454,CHA,1995,82,50,32,0.610,4,2,1,3,...,832,2395,3227,2072,1685,620,1224,399,8249,15
1455,CHA,1996,82,41,41,0.500,9,6,0,0,...,987,2256,3243,1907,1815,582,1241,277,8431,8
1456,CHA,1997,82,54,28,0.659,5,3,0,3,...,910,2298,3208,2021,1702,597,1203,349,8108,12
1457,CHA,1998,82,51,31,0.622,4,3,4,5,...,985,2341,3326,1941,1757,691,1247,312,7923,10
1458,CHA,1999,50,26,24,0.520,9,5,0,0,...,480,1493,1973,1110,1101,443,796,247,4644,12
1459,CHA,2000,82,49,33,0.598,4,2,1,3,...,884,2635,3519,2023,1670,732,1206,480,8072,14
1460,CHA,2001,82,46,36,0.561,6,3,6,4,...,1033,2608,3641,1900,1753,665,1183,455,7539,24
1461,CHA,2002,82,44,38,0.537,4,2,4,5,...,1059,2505,3564,1759,1747,653,1150,456,7700,20
1462,CHA,2005,82,18,64,0.220,14,4,0,0,...,1083,2335,3418,1794,1894,695,1192,440,7729,22
1463,CHA,2006,82,26,56,0.317,13,4,0,0,...,990,2270,3260,1717,1960,822,1167,354,7943,18
1464,CHA,2007,82,33,49,0.402,11,4,0,0,...,920,2346,3266,1836,1985,638,1224,369,7945,18
1465,CHA,2008,82,32,50,0.390,12,4,0,0,...,892,2440,3332,1748,1777,614,1204,402,7959,19
1466,CHA,2009,82,35,47,0.427,10,4,0,0,...,886,2366,3252,1741,1754,580,1279,397,7677,30
1467,CHA,2010,82,44,38,0.537,7,4,0,4,...,858,2490,3348,1658,1597,632,1290,446,7813,28
1468,CHA,2011,82,34,48,0.415,10,4,0,0,...,848,2444,3292,1728,1637,524,1192,433,7650,29
1469,CHA,2012,66,7,59,0.106,15,5,0,0,...,677,1894,2571,1326,1249,397,957,361,5739,30
1470,CHA,2013,82,21,61,0.256,14,4,0,0,...,917,2389,3306,1587,1561,591,1153,479,7661,26
1471,CHA,2014,82,43,39,0.524,7,3,0,4,...,776,2724,3500,1778,1493,499,1010,421,7942,23
1472,CHA,2015,82,33,49,0.402,11,4,0,0,...,820,2793,3613,1654,1494,499,976,448,7721,28
1473,CHA,2016,82,48,34,0.585,6,3,3,4,...,734,2869,3603,1778,1487,595,1029,438,8479,11
1474,CHA,2017,82,36,46,0.439,11,4,0,0,...,721,2853,3574,1891,1360,571,942,390,8601,16
1475,CHA,2018,82,36,46,0.439,10,3,0,0,...,827,2901,3728,1770,1409,559,1041,373,8874,10
1476,CHA,2019,40,19,21,0.475,8,2,0,0,...,395,1378,1773,956,801,293,508,200,4516,17

In [103]:
stats_cleaned.to_csv("/Users/dbauer/Coding/nba-shaq/data/team-stats-clean.csv")